# Business Prospecting Contact Notebook

- Author: Captain Lugaru

## Resources

- [Mimis boys Pythong 3.12 Bible](https://docs.python.org/dev/whatsnew/index.html "Whatâ€™s New in Python")
- [Python 3 Language Bible](https://docs.python.org/3/reference/index.html "Python Language Reference")

In [70]:
from os import path
from zipfile import ZipFile

import pandas as pd

In [71]:
# Constants
data_working_folder = '../resources/data'
inside_zip_prefix = 'Takeout/Contacts/All Contacts'

googleTakeouts = (
    'aaa-google-takeout', 'dai-google-takeout', 'mum-google-takeout', 'cap-google-takeout', 'bos-google-takeout',
    'ase-google-takeout')

In [72]:
for takeout in googleTakeouts:
    print(f"Processing Takeout for: '{takeout}'")
    takeoutZipFileName = f'{data_working_folder}/{takeout}.zip'
    print(f"Takeout zip file name: '{takeoutZipFileName}'")

    if path.exists(takeoutZipFileName):
        print(f"Takeout zip file exists: '{takeoutZipFileName}'")
        takeoutZip = ZipFile(takeoutZipFileName, 'r')
        takeoutZip.extractall(f'{data_working_folder}/{takeout}')
        takeoutZip.close()
        print(f"Takeout zip file extracted: '{takeoutZipFileName}'")

Processing Takeout for: 'aaa-google-takeout'
Takeout zip file name: '../resources/data/aaa-google-takeout.zip'
Takeout zip file exists: '../resources/data/aaa-google-takeout.zip'
Takeout zip file extracted: '../resources/data/aaa-google-takeout.zip'
Processing Takeout for: 'dai-google-takeout'
Takeout zip file name: '../resources/data/dai-google-takeout.zip'
Processing Takeout for: 'mum-google-takeout'
Takeout zip file name: '../resources/data/mum-google-takeout.zip'
Processing Takeout for: 'cap-google-takeout'
Takeout zip file name: '../resources/data/cap-google-takeout.zip'
Processing Takeout for: 'bos-google-takeout'
Takeout zip file name: '../resources/data/bos-google-takeout.zip'
Processing Takeout for: 'ase-google-takeout'
Takeout zip file name: '../resources/data/ase-google-takeout.zip'

In [73]:
CsvTest = pd.read_csv(
    f'{data_working_folder}/aaa-google-takeout/Takeout/Contacts/My Contacts/My Contacts.csv'
)  # Read the CSV file

contacts_df = pd.DataFrame(columns=[
    "Name", "Company", "Email", "Phone", "LinkedIn", "Priority", "Last Contact",
    "Role", "Status", "Follow-up Date", "Notes"
])  # Create an empty DataFrame

In [74]:
# Ensure missing values are replaced with empty strings
CsvTest["First Name"] = CsvTest["First Name"].fillna("")
CsvTest["Last Name"] = CsvTest["Last Name"].fillna("")

# Combine "First Name" and "Last Name" safely
CsvTest["Name"] = CsvTest["First Name"].str.cat(CsvTest["Last Name"], sep=" ").str.strip()

# Display the cleaned names
print(CsvTest["Name"])

0        Alex Sabylin
1     Alex Samoylenko
2              Austin
3            Austin 2
4               Coddu
5                Dada
6           Diviyin H
7               Grant
8                Jake
9        Kim Cakerice
10               Mama
11        Maria Kuhay
12      Martin  Zolin
13                Max
14    Natasha Sabylin
15    Nora Samoylenko
16         Olga Kuhay
Name: Name, dtype: object

In [75]:
def add_contact(name, company, email, phone, linkedin, priority, last_contact, role, status, follow_up,
                notes):  # Function to add a contact
    global contacts_df
    new_entry = pd.DataFrame([{
        "Name": name,
        "Company": company,
        "Email": email,
        "Phone": phone,
        "LinkedIn": linkedin,
        "Priority": priority,
        "Last Contact": last_contact,
        "Role": role,
        "Status": status,
        "Follow-up Date": follow_up,
        "Notes": notes
    }])
    contacts_df = pd.concat([contacts_df, new_entry], ignore_index=True)

In [76]:
for index, row in CsvTest.iterrows():
    add_contact(
        name=row["Name"],
        company="",
        email="",
        phone=row["Phone 1 - Value"] if "Phone 1 - Value" in row else "",
        linkedin="",
        priority="",
        last_contact="",
        role="",
        status="",
        follow_up="",
        notes=""
    )

In [77]:
import os

print(os.listdir())
display(contacts_df)

['BuisnessProspectingContactNoteBook.ipynb', 'info.text']

,Name,Company,Email,Phone,LinkedIn,Priority,Last Contact,Role,Status,Follow-up Date,Notes
0,Alex Sabylin,,,(910) 580-0263,,,,,,,
1,Alex Samoylenko,,,1 (984) 758-4250,,,,,,,
2,Austin,,,+1 919-434-5747,,,,,,,
3,Austin 2,,,+1 919-426-9375,,,,,,,
4,Coddu,,,(984) 884-7822,,,,,,,
5,Dada,,,(919) 717-1387,,,,,,,
6,Diviyin H,,,+1 919-384-8554,,,,,,,
7,Grant,,,+1 919-384-6048,,,,,,,
8,Jake,,,(919) 793-8790,,,,,,,
9,Kim Cakerice,,,+1 919-402-6678,,,,,,,
10,Mama,,,(919) 280-6958,,,,,,,
11,Maria Kuhay,,,+14845536823,,,,,,,
12,Martin Zolin,,,(984) 542-9544,,,,,,,
13,Max,,,(984) 358-1379,,,,,,,
14,Natasha Sabylin,,,910-885-3506,,,,,,,
15,Nora Samoylenko,,,1 (984) 291-4750,,,,,,,
16,Olga Kuhay,,,6107372103,,,,,,,