## Captains Pandas Journey
Pandas Learning: https://pandas.pydata.org/docs/getting_started/index.html#getting-started

Pandas Glossary: https://developers.google.com/machine-learning/glossary/#pandas

Now here is my understanding of pandas:

In [36]:
# imports

import pandas as pd
import numpy as np
import matplotlib as plt

# pandas 1d array
array1 = pd.Series([10,20,30,40])
print(array1)


# first data piece of array1  accessed
a = array1[0]
print(a)

# Another way to access data
print(array1[0])

0    10
1    20
2    30
3    40
dtype: int64
10
10

In [37]:
# now we are creating a dataframe with pandas only
# data
data = {
    'Name':["Bob" , "Jim", "Wanda", "Mary", "Josh", "Anton"],
    'Salary':[50000, 190000, 80000, 97000, 112000, 1200000 ],
    'Age':[21 ,54, 32, 34, 67, 23],
    'Profession':["construction worker", "engineer", "IT Service", "Manager", "Game Dev", "AI Dev"]


}
# putting data into a dataframe
# Salary Data Frame
SDF = pd.DataFrame(data=data)
#prints first 5 rows
print(SDF.head())
# prints info
print(SDF.info)
# prints last 5 rows
print(SDF.tail())
# prints statistics of the Dataframe
print(SDF.describe())
# prints shape of the dataframe
print(SDF.shape)
#prints the dataframes columns
print(SDF.columns)
# prints a single column as a series

    Name  Salary  Age           Profession
0    Bob   50000   21  construction worker
1    Jim  190000   54             engineer
2  Wanda   80000   32           IT Service
3   Mary   97000   34              Manager
4   Josh  112000   67             Game Dev
<bound method DataFrame.info of     Name   Salary  Age           Profession
0    Bob    50000   21  construction worker
1    Jim   190000   54             engineer
2  Wanda    80000   32           IT Service
3   Mary    97000   34              Manager
4   Josh   112000   67             Game Dev
5  Anton  1200000   23               AI Dev>
    Name   Salary  Age  Profession
1    Jim   190000   54    engineer
2  Wanda    80000   32  IT Service
3   Mary    97000   34     Manager
4   Josh   112000   67    Game Dev
5  Anton  1200000   23      AI Dev
             Salary        Age
count  6.000000e+00   6.000000
mean   2.881667e+05  38.500000
std    4.491576e+05  18.229098
min    5.000000e+04  21.000000
25%    8.425000e+04  25.250000
50%    1.045000e+05  33.000000
75%    1.705000e+05  49.000000
max    1.200000e+06  67.000000
(6, 4)
Index(['Name', 'Salary', 'Age', 'Profession'], dtype='object')

In [38]:
print(SDF['Name'])
# prints multiple columns as series
print(SDF[['Name', 'Age']])
# Prints first row (by index)
print(SDF.iloc[0])
# Prints first row (by label)
print(SDF.loc[0])
# Creating a filter that keeps everyone whose age is above 30
filtered_df = SDF[SDF['Age'] > 30]
print(filtered_df)


#Adds Bonus Column
SDF['Bonus'] = SDF['Salary'] * 0.1
#updates value
SDF.loc[0, 'Age'] = 31  # Update Bob's age

print(SDF)
# Remove Bonus
SDF = SDF.drop('Bonus', axis=1)
print(SDF)
#checks if there is a null
print(SDF.isnull().sum())
# fill in any nulls in age with the mean
SDF['Age'] = SDF['Age'].fillna(SDF['Age'].mean())
#Drops Any Missing Rows
SDF = SDF.dropna()

0      Bob
1      Jim
2    Wanda
3     Mary
4     Josh
5    Anton
Name: Name, dtype: object
    Name  Age
0    Bob   21
1    Jim   54
2  Wanda   32
3   Mary   34
4   Josh   67
5  Anton   23
Name                          Bob
Salary                      50000
Age                            21
Profession    construction worker
Name: 0, dtype: object
Name                          Bob
Salary                      50000
Age                            21
Profession    construction worker
Name: 0, dtype: object
    Name  Salary  Age  Profession
1    Jim  190000   54    engineer
2  Wanda   80000   32  IT Service
3   Mary   97000   34     Manager
4   Josh  112000   67    Game Dev
    Name   Salary  Age           Profession     Bonus
0    Bob    50000   31  construction worker    5000.0
1    Jim   190000   54             engineer   19000.0
2  Wanda    80000   32           IT Service    8000.0
3   Mary    97000   34              Manager    9700.0
4   Josh   112000   67             Game Dev   11200.0
5  Anton  1200000   23               AI Dev  120000.0
    Name   Salary  Age           Profession
0    Bob    50000   31  construction worker
1    Jim   190000   54             engineer
2  Wanda    80000   32           IT Service
3   Mary    97000   34              Manager
4   Josh   112000   67             Game Dev
5  Anton  1200000   23               AI Dev
Name          0
Salary        0
Age           0
Profession    0
dtype: int64

In [46]:
# Prints Average salary
print(SDF['Salary'].mean())
# Prints the Sum of the ages
print(SDF['Age'].sum())
#groups up the age and salary mean together
grouped = SDF.groupby('Age')['Salary'].mean()
print(grouped)
# Sorts the Columns by Salary In a Descending Fashion
sorted_df = SDF.sort_values('Salary', ascending=False)
print(sorted_df)
#creating 2 dataframes and then merging them
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Score': [85, 90]})
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)
#puts 2 dataframes side by side
df_concat = pd.concat([df1, df2], axis=1)  # Side by side
print(df_concat)
# Applying functions to Dataframes
# Creating a new column that has the values of Salary multiplied by 1.1
SDF['Updated Salary'] = SDF['Salary'].apply(lambda x: x * 1.1)
print(SDF)

288166.6666666667
241
Age
23    1200000.0
31      50000.0
32      80000.0
34      97000.0
54     190000.0
67     112000.0
Name: Salary, dtype: float64
    Name   Salary  Age           Profession  New_Column
5  Anton  1200000   23               AI Dev   1320000.0
1    Jim   190000   54             engineer    209000.0
4   Josh   112000   67             Game Dev    123200.0
3   Mary    97000   34              Manager    106700.0
2  Wanda    80000   32           IT Service     88000.0
0    Bob    50000   31  construction worker     55000.0
   ID   Name  Score
0   1  Alice     85
1   2    Bob     90
   ID   Name  ID  Score
0   1  Alice   1     85
1   2    Bob   2     90
    Name   Salary  Age           Profession  New_Column  Updated Salary
0    Bob    50000   31  construction worker     55000.0         55000.0
1    Jim   190000   54             engineer    209000.0        209000.0
2  Wanda    80000   32           IT Service     88000.0         88000.0
3   Mary    97000   34              Manager    106700.0        106700.0
4   Josh   112000   67             Game Dev    123200.0        123200.0
5  Anton  1200000   23               AI Dev   1320000.0       1320000.0

And That is my basic understanding of Pandas!